<div class="row" ng-controller="Visualizar">
    <div class="col-md-12 card-panel teal grey lighten-3">
        <form action="/Cadastro/Atualiza" method="post">
            <input class="hidden" value="@ViewBag.Veiculo.ID" name="veiculo.ID" />
            <div class="row">
                <div class="col-md-6">
                    <div class="row" style="background:white;color:black;padding: 10px 10px 10px 10px;">
                        <span><strong> PLACA </strong></span>
                    </div>
                    <div class="row">
                        <input value="@ViewBag.Veiculo.Placa" name="veiculo.placa" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" style="background:white;color:black;padding: 10px 10px 10px 10px;">
                        <span><strong> TIPO DE VEÍCULO </strong></span>
                    </div>
                    <div class="row">
                        <select style="display:block;" name="veiculo.tipo" id="tipo" required>
                            <option value="" disabled selected>Escolha</option>
                            @foreach (var tipo in ViewBag.TiposVeiculo) {
                                if (ViewBag.Veiculo.NomeTipo == tipo.Nome)
                                {
                                    <option value="@tipo.ID" selected>@tipo.Nome</option>
                                } else {
                                    <option value="@tipo.ID">@tipo.Nome</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="background:white;color:black;padding: 10px 10px 10px 10px;">
                <span><strong> PROPRIETÁRIO </strong></span>
            </div>
            <div class="row">
                <input value="@ViewBag.Veiculo.Proprietario" name="veiculo.proprietario" />
            </div>
            <div class="row" style="background:white;color:black;padding: 10px 10px 10px 10px;">
                <span><strong> GALERIA </strong></span>
            </div>
            <div class="row">
                @foreach (var foto in @ViewBag.Foto)
                {
                    <div class="panel panel-default col-md-2">
                        <div class="panel-body">
                            <img class="img center-block" alt="@foto.Nome" src="../@foto.Nome" />
                        </div>
                    </div>
                }
            </div>
            <div class="pull-right">
                <input class="waves-effect amber darken-3 btn" type="submit" value="Salvar" />
            </div>
        </form>
    </div>
</div>
